<h1>Editing trn comment</h1>

<%= render "form", trn_comment: @trn_comment %>

<br>

<div>
  <%= link_to "Show this trn comment", @trn_comment %> |
  <%= link_to "Back to trn comments", trn_comments_path %>
</div>
